# **Telecom ML Project to Predict Customer Churn**


## Aim:

The aim of a churn prediction notebook is to develop a machine learning model that can predict which customers are likely to churn or discontinue their use of a service or product.

## **Approach**

**Data exploration**

* Load the dataset and examine its structure and contents.
* Explore the distribution of the target variable (churn) and the features.

**Data preprocessing**

* Handle missing values by imputing them with appropriate values.
* Handle outliers by removing or transforming them.
* Encode categorical variables using one-hot encoding.
* Scale numerical variables using Standard scaler.


**Model training**

* Split the data into training and validation sets.
* Train logistic regression, random forest, and XGBoost models on the training set.
* Evaluate the performance of the models on the validation set using metrics such as accuracy, precision, recall, and F1 score.
* Choose the best-performing model based on the evaluation results.

**Data drift monitoring**

* Use deep checks to monitor for data drift in the input features and the target variable.
* Check the model's performance on the validation set regularly to detect any model drift.

**Inference pipeline**

* Build an inference pipeline to predict churn for new data.
* Handle cases where the label (churn) is not present in the input data.
* Handle cases where the drift is detected by retraining the model with misclassified data.

**Project Summary**

* Summarize the results and draw insights from the model's predictions.
* Provide recommendations for business actions based on the model's predictions.

## **Important Libraries**
 
* **pandas**: pandas is a fast, powerful, flexible, and easy-to-use open-source data analysis and manipulation tool built on top of the Python programming language. Refer to [documentation](https://pandas.pydata.org/) for more information.
 
* **NumPy**: The fundamental package for scientific computing with Python. Fast and versatile, the NumPy vectorization, indexing, and broadcasting concepts are the de-facto standards of array computing today. NumPy offers comprehensive mathematical functions, random number generators, linear algebra routines, Fourier transforms, and more. Refer to [documentation](https://numpy.org/) for more information. pandas and NumPy are together used for most of the data analysis and manipulation in Python.

* **Matplotlib**: Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python. Refer to [documentation](https://matplotlib.org/) for more information.
 
* **seaborn**: Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics. Refer to [documentation](https://seaborn.pydata.org/) for more information.

* **scikit-learn**: Simple and efficient tools for predictive data analysis
accessible to everybody and reusable in various contexts.
It is built on NumPy, SciPy, and matplotlib to support machine learning in Python. Refer to [documentation](https://scikit-learn.org/stable/) for more information.

* **Warnings**:The warnings library provides a way to handle warnings that are generated during program execution. Warnings are typically issued when there is a potential issue with code, but the code still runs without errors. The warnings module provides a way to catch these warnings and handle them in a way that is appropriate for the program. This can be especially useful when developing and debugging code, as warnings can help identify potential issues before they become errors.

* **sys**:The sys library provides access to some system-specific parameters and functions. This library can be used to access system-level information, such as the command line arguments passed to the program, the version of the Python interpreter being used, and more. 

* **xgboost**: xgboost is an open-source machine learning library designed to be highly efficient, scalable, and portable. It is a gradient boosting algorithm that is used for supervised learning problems, including regression, classification, and ranking. Refer to [documentation](https://xgboost.readthedocs.io/en/stable/install.html) for more information.

* **deepchecks**: deepchecks is an open-source library that is used for deep learning model debugging and monitoring. It provides a suite of tools for detecting and diagnosing common errors that can occur during the training and evaluation of deep learning models. Refer to [documentation](https://docs.deepchecks.com/stable/getting-started/welcome.html) for more information.

## **Package Requirements**

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import libraries
import pandas as pd
import numpy as np
from projectpro import preserve, save_point, model_snapshot, feedback, show_video 
import sys
preserve("fcTel2")

## **Data Reading from Different Sources**

In [3]:
np.set_printoptions(threshold=sys.maxsize)

In [4]:
pd.set_option('display.max_columns', 200)

In [5]:
# Read data
df=pd.read_csv('https://s3.amazonaws.com/projex.dezyre.com/telecom-machine-learning-project-for-customer-churn/materials/Telecom_data.csv')

## **Data Exploration**

In [6]:
df.shape

(653753, 74)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653753 entries, 0 to 653752
Data columns (total 74 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Customer ID                 653753 non-null  object
 1   Month                       653753 non-null  int64
 2   Month of Joining            653753 non-null  int64
 3   zip_code                    653753 non-null  int64
 4   Gender                      653753 non-null  object
 5   Age                         653753 non-null  float64
 6   Married                     653753 non-null  object
 7   Dependents                  653753 non-null  object
 8   Number of Dependents        653753 non-null  float64
 9   Location ID                 653753 non-null  object
 10  Service ID                  653753 non-null  object
 11  state                       653753 non-null  object
 12  county                      653753 non-null  object
 13  timezone                    653753 non-null  object
 14  area_codes                  653753 non-null  object
 15  country                     653753 non-null  object
 16  latitude                    653753 non-null  float64
 17  longitude                   653753 non-null  float64
 18  roam_ic                     653753 non-null  float64
 19  roam_og                     653753 non-null  float64
 20  loc_og_t2t                  653753 non-null  float64
 21  loc_og_t2m                  653753 non-null  float64
 22  loc_og_t2f                  653753 non-null  float64
 23  loc_og_t2c                  653753 non-null  float64
 24  std_og_t2t                  653753 non-null  float64
 25  std_og_t2m                  653753 non-null  float64
 26  std_og_t2f                  653753 non-null  float64
 27  std_og_t2c                  653753 non-null  int64
 28  isd_og                      653753 non-null  float64
 29  spl_og                      653753 non-null  float64
 30  og_others                   653753 non-null  float64
 31  loc_ic_t2t                  653753 non-null  float64
 32  loc_ic_t2m                  653753 non-null  float64
 33  loc_ic_t2f                  653753 non-null  float64
 34  std_ic_t2t                  653753 non-null  float64
 35  std_ic_t2m                  653753 non-null  float64
 36  std_ic_t2f                  653753 non-null  float64
 37  std_ic_t2o                  653753 non-null  int64
 38  spl_ic                      653753 non-null  float64
 39  isd_ic                      653753 non-null  float64
 40  ic_others                   653753 non-null  float64
 41  total_rech_amt              653753 non-null  int64
 42  total_rech_data             443849 non-null  float64
 43  vol_4g                      653753 non-null  float64
 44  vol_5g                      653753 non-null  float64
 45  arpu_5g                     653753 non-null  object
 46  arpu_4g                     653753 non-null  object
 47  arpu                        653753 non-null  float64
 48  night_pck_user              280650 non-null  float64
 49  fb_user                     243359 non-null  float64
 50  aug_vbc_5g                  653753 non-null  float64
 51  offer                       653753 non-null  object
 52  Referred a Friend           653753 non-null  object
 53  Number of Referrals         653753 non-null  float64
 54  Phone Service               653753 non-null  object
 55  Multiple Lines              653753 non-null  object
 56  Internet Service            653753 non-null  object
 57  Internet Type               436421 non-null  object
 58  Streaming Data Consumption  653753 non-null  int64
 59  Online Security             653753 non-null  object
 60  Online Backup               653753 non-null  object
 61  Device Protection Plan      653753 non-null  object
 62  Premium Tech Support        653753 non-null  object
 63  Streaming TV                653753 non-null  object
 64  Streaming Movies            653753 non-null  object
 65  Streaming Music             653753 non-null  object
 66  Unlimited Data              653753 non-null  object
 67  Payment Method              653753 non-null  object
 68  Status ID                   653753 non-null  object
 69  Satisfaction Score          653753 non-null  int64
 70  Churn Category              653753 non-null  object
 71  Churn Reason                653753 non-null  object
 72  Customer Status             653753 non-null  object
 73  Churn Value                 653753 non-null  int64
dtypes: float64(33), int64(9), object(32)
memory usage: 369.1+ MB

In [8]:
df.columns

Index(['Customer ID', 'Month', 'Month of Joining', 'zip_code', 'Gender', 'Age',
       'Married', 'Dependents', 'Number of Dependents', 'Location ID',
       'Service ID', 'state', 'county', 'timezone', 'area_codes', 'country',
       'latitude', 'longitude', 'roam_ic', 'roam_og', 'loc_og_t2t',
       'loc_og_t2m', 'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m',
       'std_og_t2f', 'std_og_t2c', 'isd_og', 'spl_og', 'og_others',
       'loc_ic_t2t', 'loc_ic_t2m', 'loc_ic_t2f', 'std_ic_t2t', 'std_ic_t2m',
       'std_ic_t2f', 'std_ic_t2o', 'spl_ic', 'isd_ic', 'ic_others',
       'total_rech_amt', 'total_rech_data', 'vol_4g', 'vol_5g', 'arpu_5g',
       'arpu_4g', 'arpu', 'night_pck_user', 'fb_user', 'aug_vbc_5g', 'offer',
       'Referred a Friend', 'Number of Referrals', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Internet Type',
       'Streaming Data Consumption', 'Online Security', 'Online Backup',
       'Device Protection Plan', 'Premium Tech Support', 'Streaming TV',
       'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Payment Method', 'Status ID', 'Satisfaction Score', 'Churn Category',
       'Churn Reason', 'Customer Status', 'Churn Value'],
      dtype='object')

## **Data Dictionary**



| Column name	 | Description|
| ----- | ----- |
| Customer ID	 | Unique identifier for each customer |
| Month | Calendar Month- 1:12 | 
| Month of Joining |	Calender Month -1:14, Month for which the data is captured|
| zip_code |	Zip Code|
|Gender |	Gender|
| Age |	Age(Years)|
| Married |	Marital Status |
|Dependents | Dependents - Binary |
| Number of Dependents |	Number of Dependents|
|Location ID |	Location ID|
|Service ID	 |Service ID|
|state|	State|
|county	|County|
|timezone	|Timezone|
|area_codes|	Area Code|
|country	|Country|
|latitude|	Latitude|
|longitude	|Longitude|
|arpu|	Average revenue per user|
|roam_ic	|Roaming incoming calls in minutes|
|roam_og	|Roaming outgoing calls in minutes|
|loc_og_t2t|	Local outgoing calls within same network in minutes|
|loc_og_t2m	|Local outgoing calls outside network in minutes(outside same + partner network)|
|loc_og_t2f|	Local outgoing calls with Partner network in minutes|
|loc_og_t2c	|Local outgoing calls with Call Center in minutes|
|std_og_t2t|	STD outgoing calls within same network in minutes|
|std_og_t2m|	STD outgoing calls outside network in minutes(outside same + partner network)|
|std_og_t2f|	STD outgoing calls with Partner network in minutes|
|std_og_t2c	|STD outgoing calls with Call Center in minutes|
|isd_og|	ISD Outgoing calls|
|spl_og	|Special Outgoing calls|
|og_others|	Other Outgoing Calls|
|loc_ic_t2t|	Local incoming calls within same network in minutes|
|loc_ic_t2m|	Local incoming calls outside network in minutes(outside same + partner network)|
|loc_ic_t2f	|Local incoming calls with Partner network in minutes|
|std_ic_t2t	|STD incoming calls within same network in minutes|
|std_ic_t2m	|STD incoming calls outside network in minutes(outside same + partner network)|
|std_ic_t2f|	STD incoming calls with Partner network in minutes|
|std_ic_t2o|	STD incoming calls operators other networks in minutes|
|spl_ic|	Special Incoming calls in minutes|
|isd_ic|	ISD Incoming calls in minutes|
|ic_others|	Other Incoming Calls|
|total_rech_amt|	Total Recharge Amount in Local Currency|
|total_rech_data|	Total Recharge Amount for Data in Local Currency
|vol_4g|	4G Internet Used in GB|
|vol_5g|	5G Internet used in GB|
|arpu_5g|	Average revenue per user over 5G network|
|arpu_4g|	Average revenue per user over 4G network|
|night_pck_user|	Is Night Pack User(Specific Scheme)|
|fb_user|	Social Networking scheme|
|aug_vbc_5g|	Volume Based cost for 5G network (outside the scheme paid based on extra usage)|
|offer|	Offer Given to User|
|Referred a Friend|	Referred a Friend : Binary|
|Number of Referrals|	Number of Referrals|
|Phone Service|	Phone Service: Binary|
|Multiple Lines|	Multiple Lines for phone service: Binary|
|Internet Service|	Internet Service: Binary|
|Internet Type|	Internet Type|
|Streaming Data Consumption|	Streaming Data Consumption|
|Online Security|	Online Security|
|Online Backup|	Online Backup|
|Device Protection Plan|	Device Protection Plan|
|Premium Tech Support|	Premium Tech Support|
|Streaming TV|	Streaming TV|
|Streaming Movies|	Streaming Movies|
|Streaming Music|	Streaming Music|
|Unlimited Data|	Unlimited Data|
|Payment Method|	Payment Method|
|Status ID|	Status ID|
|Satisfaction Score|	Satisfaction Score|
|Churn Category|	Churn Category|
|Churn Reason|	Churn Reason|
|Customer Status|	Customer Status|
|Churn Value|	Binary Churn Value

In [9]:
df.isna().sum()

Customer ID           0
Month                 0
Month of Joining      0
zip_code              0
Gender                0
                     ..
Satisfaction Score    0
Churn Category        0
Churn Reason          0
Customer Status       0
Churn Value           0
Length: 74, dtype: int64

In [10]:
df['total_rech_data'].isna().sum()

209904

In [11]:
df['Internet Type'].isna().sum()

217332

In [12]:
df['total_rech_data'].isna().sum()/df.shape[0]

0.321075390858627

**Observation:**

*  These missing values may represent customers who have not recharged their account or have recharged but the information has not been recorded.

* It is possible that customers with missing recharge data are those who received free data service, and therefore did not need to recharge their account. Alternatively, it is possible that the missing values are due to technical issues, such as data recording errors or system failures.

In [13]:
df[df['total_rech_data'].isna()]['Internet Service'].value_counts(dropna=False)

Yes    209904
Name: Internet Service, dtype: int64

**Observation**:

* It turns out that all customers with missing recharge data have opted for internet service, the next step could be to check if they have used it or not.

In [16]:
# unlimited data column

df[(df['total_rech_data'].isna())]['Unlimited Data'].value_counts()

Yes    181040
No      28864
Name: Unlimited Data, dtype: int64

In [17]:
# Average Revenue for 4g and 5g

df[(df['total_rech_data'].isna())][['arpu_4g','arpu_5g']].value_counts()

arpu_4g         arpu_5g
Not Applicable  Not Applicable    195182
297.57          8530.983629            4
544.17          8536.565906            3
395.94          8533.210427            3
290.09          8530.814304            3
                                   ...
222.42          1468.94                1
222.56          8529.28563             1
222.67          8529.28812             1
222.73          8529.289478            1
2559.56         8582.188229            1
Length: 14247, dtype: int64

**Observation**:

* We can fill the missing values in the total_rech_data column with 0 when the arpu (Average Revenue Per User) is not applicable. This is because the arpu is a measure of the revenue generated per user, and if it is not applicable, it may indicate that the user is not generating any revenue for the company. In such cases, it is reasonable to assume that the total recharge amount is 0.

In [18]:
# The value counts of ARPU 4g and 5g
df[['arpu_4g','arpu_5g']].value_counts()

arpu_4g         arpu_5g
Not Applicable  Not Applicable    195182
0               0                 184117
                63                 13024
63              0                  12969
254687          0                  10911
                                   ...
192.88          566.93                 1
192.89          274.15                 1
                2848.71                1
                648.54                 1
2416.82         167.18                 1
Length: 195845, dtype: int64

In [19]:
# Replacing all values of total recharge data= 0 where arpu 4g and 5g are not applicable
df.loc[(df['arpu_4g']=='Not Applicable') | (df['arpu_5g']=='Not Applicable'),'total_rech_data']=0

In [20]:
# Missing value percentage
df['total_rech_data'].isna().sum()/df.shape[0]

0.022519208324856637

We cannot fill other values with 0 because they have some ARPU to consider.

In [21]:
# Calculate the mean of 'total_rech_data' where either 'arpu_4g' or 'arpu_5g' is not equal to 'Not Applicable'
df.loc[(df['arpu_4g']!='Not Applicable') | (df['arpu_5g']!='Not Applicable'),'total_rech_data'].mean()

4.85274721808543

With this mean, we will fill the NaN values.

In [22]:
# Fill NaN values in 'total_rech_data' with the mean of 'total_rech_data' where either 'arpu_4g' or 'arpu_5g' is not equal to 'Not Applicable'
df['total_rech_data']=df['total_rech_data'].fillna(df.loc[(df['arpu_4g']!='Not Applicable') | (df['arpu_5g']!='Not Applicable'),'total_rech_data'].mean())

In [23]:
# Check the value counts for Internet Type
df['Internet Type'].value_counts(dropna=False)

NaN            217332
Fiber Optic    134991
Cable          112100
None           107918
DSL             81412
Name: Internet Type, dtype: int64

In [24]:
# Check value counts for Internet Service where Internet Type is null
df[df['Internet Type'].isna()]['Internet Service'].value_counts(dropna=False)

No    217332
Name: Internet Service, dtype: int64

All null values in Internet Type does not have Internet Service. Let's fill these null values with Not Applicable.

In [25]:
# Filling Null values in Internet Type 
df['Internet Type']=df['Internet Type'].fillna('Not Applicable')

In [26]:
df.shape

(653753, 74)

In [115]:
# Insert a new column named 'total_recharge2' before the last column in the dataframe 
# The values of 'total_recharge' are the sum of 'total_rech_amt' and 'total_rech_data'

df.insert(loc=df.shape[1]-1,column='total_recharge2',value=df['total_rech_amt']+df['total_rech_data'])

In [30]:
# Checking percent of missing values in columns
df_missing_columns = (round(((df.isnull().sum()/len(df.index))*100),2).to_frame('null')).sort_values('null', ascending=False)
df_missing_columns

                   null
fb_user           62.78
night_pck_user    57.07
Customer ID        0.00
Internet Service   0.00
Phone Service      0.00
...                 ...
std_og_t2t         0.00
loc_og_t2c         0.00
loc_og_t2f         0.00
loc_og_t2m         0.00
Churn Value        0.00

[75 rows x 1 columns]

Dropping some unnecessary columns!

In [31]:
df=df.drop(columns=['night_pck_user', 'fb_user','Churn Category','Churn Reason', 'Customer Status'])

In [32]:
round(100*(df['Churn Value'].mean()),2)

4.57

In [33]:
df['latitude'].nunique()

1096

In [34]:
df['longitude'].nunique()

1368

In [35]:
# Replace 'Not Applicable' with 0 in 'arpu_4g'
df['arpu_4g'] = df['arpu_4g'].replace('Not Applicable', 0)

# Replace 'Not Applicable' with 0 in 'arpu_5g'
df['arpu_5g'] = df['arpu_5g'].replace('Not Applicable', 0)

# Convert 'arpu_4g' to float data type
df['arpu_4g'] = df['arpu_4g'].astype(float)

# Convert 'arpu_5g' to float data type
df['arpu_5g'] = df['arpu_5g'].astype(float)

In [36]:
df.dtypes

Customer ID            object
Month                   int64
Month of Joining        int64
zip_code                int64
Gender                 object
                       ...
Payment Method         object
Status ID              object
Satisfaction Score      int64
total_recharge        float64
Churn Value             int64
Length: 70, dtype: object

In [37]:
# Note: We are keeping customer location-based attributes aside for now
location_att=['zip_code''state', 'county', 'timezone', 'area_codes', 'country','latitude','longitude']

# List of categorical columns
categorical_cols=['Gender',
       'Married', 'Dependents',
       'offer','Referred a Friend', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Internet Type',
        'Online Security', 'Online Backup',
       'Device Protection Plan', 'Premium Tech Support', 'Streaming TV',
       'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Payment Method']

# List of continuous columns
cts_cols=['Age','Number of Dependents',
       'roam_ic', 'roam_og', 'loc_og_t2t',
       'loc_og_t2m', 'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m',
       'std_og_t2f', 'std_og_t2c', 'isd_og', 'spl_og', 'og_others',
       'loc_ic_t2t', 'loc_ic_t2m', 'loc_ic_t2f', 'std_ic_t2t', 'std_ic_t2m',
       'std_ic_t2f', 'std_ic_t2o', 'spl_ic', 'isd_ic', 'ic_others',
       'total_rech_amt', 'total_rech_data', 'vol_4g', 'vol_5g', 'arpu_5g',
       'arpu_4g', 'arpu', 'aug_vbc_5g', 'Number of Referrals','Satisfaction Score',
       'Streaming Data Consumption']

In [38]:
# Create an empty dataframe with columns as cts_cols and index as quantiles
quantile_df=pd.DataFrame(columns=cts_cols,index=[0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])

# for each column in cts_cols, calculate the corresponding quantiles and store them in the quantile_df
for col in cts_cols:
   quantile_df[col]=df[col].quantile([0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])

In [39]:
quantile_df

,Age,Number of Dependents,roam_ic,roam_og,loc_og_t2t,loc_og_t2m,loc_og_t2f,loc_og_t2c,std_og_t2t,std_og_t2m,std_og_t2f,std_og_t2c,isd_og,spl_og,og_others,loc_ic_t2t,loc_ic_t2m,loc_ic_t2f,std_ic_t2t,std_ic_t2m,std_ic_t2f,std_ic_t2o,spl_ic,isd_ic,ic_others,total_rech_amt,total_rech_data,vol_4g,vol_5g,arpu_5g,arpu_4g,arpu,aug_vbc_5g,Number of Referrals,Satisfaction Score,Streaming Data Consumption
0.10,24.0,0.0,0.000000,0.000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.000000,0.000000,0.0000,34.740000,33.790000,14.4600,16.950000,13.060000,5.030000,0.0,0.02,10.770000,8.100000,0.0,0.000000,0.0000,0.0000,0.000000,0.000000,-256.2000,0.0000,0.0,1.0,0.0
0.25,28.0,0.0,12.090000,14.710,32.7000,26.260000,1.460000,1.610000,33.120000,25.560000,1.20,0.0,3.250000,4.940000,3.4300,85.570000,84.170000,36.1100,42.460000,32.190000,12.460000,0.0,0.04,26.980000,20.330000,72.0,0.000000,0.0000,0.0000,0.000000,0.000000,118.9400,0.0000,0.0,3.0,2.0
0.50,34.0,0.0,50.560000,75.100,171.3300,135.460000,7.800000,8.180000,174.600000,134.800000,6.34,0.0,17.190000,25.580000,17.8300,171.490000,168.390000,72.0600,84.470000,64.760000,24.980000,0.0,0.08,53.700000,40.540000,374.0,0.000000,47.0100,362.3800,0.000000,0.000000,348.5400,117.3200,4.0,3.0,20.0
0.75,43.0,1.0,162.030000,135.280,309.0900,618.210000,14.090000,14.700000,316.240000,244.490000,36.64,0.0,31.140000,46.190000,106.7900,1259.270000,1090.065814,496.7900,126.270000,448.830000,186.710000,0.0,0.21,80.370000,60.730000,1089.0,2.000000,154.9000,964.7200,194.470000,228.220000,580.6500,311.7500,8.0,4.0,49.0
0.80,47.0,2.0,496.902000,146.820,856.7660,1392.937844,43.870000,15.970000,344.970000,266.540000,71.61,0.0,33.910000,50.240000,229.2600,1999.693293,1471.752357,653.0360,543.193515,633.989756,275.199406,0.0,0.33,384.863930,64.800000,2197.0,4.852747,176.3600,3814.2220,789.000000,783.290000,626.2300,350.4900,8.0,4.0,56.0
0.90,55.0,4.0,969.043806,689.598,3613.9960,2644.568000,126.593474,109.097149,1547.136000,1007.842370,143.14,0.0,113.178996,372.784695,382.7180,2974.581617,2424.826000,1198.6440,1525.978000,1030.569644,466.868000,0.0,0.71,1102.719792,532.378638,7013.0,14.000000,219.2680,12369.5160,2219.752000,2224.100000,1901.5140,789.0000,10.0,5.0,69.0
0.95,61.0,7.0,1283.198000,1954.392,5079.8300,3479.438000,183.490000,207.514000,3953.108671,3108.617986,171.80,0.0,319.283936,470.114614,489.7000,3719.724000,3166.758000,1462.3020,2022.070000,1360.444000,569.740000,0.0,1.27,1443.993611,914.270000,9369.0,23.000000,663.2040,17358.4180,8530.865147,8675.302558,5892.6180,3943.2100,11.0,5.0,77.0
0.97,64.0,8.0,1494.043200,2550.390,5806.0544,3756.444400,206.750000,277.344400,5344.123200,3848.301590,188.88,0.0,394.210000,518.403569,531.5744,3911.517600,3468.838800,1657.1832,2145.504400,1476.410000,594.000000,0.0,1.75,1554.884400,1212.837600,10492.0,26.000000,1438.5100,19569.9704,8724.440600,8839.721689,7592.5688,5949.3792,11.0,5.0,80.0
0.99,74.0,9.0,1646.899600,3041.760,6191.2040,4060.298800,257.650000,311.464800,6729.403200,4875.216400,208.18,0.0,637.009600,836.140000,579.3748,4200.448800,3679.364400,1792.9848,2434.554800,1571.760000,639.000000,0.0,2.19,1601.920000,1317.510000,11367.0,30.000000,4289.8496,254687.0000,254687.000000,254687.000000,8846.9584,7366.7684,11.0,5.0,83.0

Outliers were detected in the variables vol_5g, arpu_4g, and arpu_5g.

In [40]:
df['arpu_4g'].quantile([0.75,0.8,0.9,0.95,0.97,0.99,0.999])

0.750       228.220000
0.800       783.290000
0.900      2224.100000
0.950      8675.302558
0.970      8839.721689
0.990    254687.000000
0.999    254687.000000
Name: arpu_4g, dtype: float64

In [41]:
# Calculate the proportion of rows in the DataFrame where the value in the 'arpu_4g' column is equal to 254687
df[df['arpu_4g']==254687].shape[0]/df.shape[0]

0.019651152652454366

In [42]:
#check it out
df[df['arpu_4g']==254687]

,Customer ID,Month,Month of Joining,zip_code,Gender,Age,Married,Dependents,Number of Dependents,Location ID,Service ID,state,county,timezone,area_codes,country,latitude,longitude,roam_ic,roam_og,loc_og_t2t,loc_og_t2m,loc_og_t2f,loc_og_t2c,std_og_t2t,std_og_t2m,std_og_t2f,std_og_t2c,isd_og,spl_og,og_others,loc_ic_t2t,loc_ic_t2m,loc_ic_t2f,std_ic_t2t,std_ic_t2m,std_ic_t2f,std_ic_t2o,spl_ic,isd_ic,ic_others,total_rech_amt,total_rech_data,vol_4g,vol_5g,arpu_5g,arpu_4g,arpu,aug_vbc_5g,offer,Referred a Friend,Number of Referrals,Phone Service,Multiple Lines,Internet Service,Internet Type,Streaming Data Consumption,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Payment Method,Status ID,Satisfaction Score,total_recharge,Churn Value
9,uqdtniwvxqzeu1,14,6,72566,Male,36.276942,No,No,0.0,qcvetdmalnkw1,tkqnsqflrdatnqapsh1,AR,Izard County,America/Chicago,870,US,36.22,-92.08,1582.05,157.20,161.810000,1827.38,39.790000,1.00,1362.59,5267.31,171.81,0,390.32,24.940000,511.23,2128.610000,2896.11,54.41,100.540000,585.44,162.70,0,0.11,10.460000,1247.37,255,0.0,0.0,0.0,254687.0,254687.0,1330.04,0.0,No Offer,Yes,9.0,Yes,No,No,Not Applicable,74,No,No,Yes,No,Yes,No,No,No,Credit Card,inebwpymzwpup39698,4,255.0,0
86,ucpurmfkdlnwi18,13,12,71747,Female,20.000000,Yes,No,0.0,rqiqguxisfoc18,dkupusivpzrazcfsdi18,AR,Union County,America/Chicago,870,US,33.04,-92.18,18.63,31.29,2894.400061,834.78,209.170000,9.59,177.64,116.17,120.34,0,14.74,439.430599,100.81,156.270000,254.19,29.68,998.844996,24.13,12.62,0,0.29,795.053477,5.06,8462,0.0,0.0,254687.0,0.0,254687.0,160.07,0.0,No Offer,Yes,6.0,Yes,Yes,No,Not Applicable,0,No,No,No,Yes,No,No,No,No,Bank Withdrawal,usfobpyxwqrkg27554,5,8462.0,0
103,sirifvlkipkel21,13,11,92865,Female,40.000000,Yes,No,0.0,jobplwgowgko21,zmuwwsnfbwxxdxzuvz21,CA,Orange County,America/Los_Angeles,714,US,33.83,-117.85,26.04,72.49,111.050000,1.87,6.890000,4.83,11.50,134.28,6.71,0,31.44,6.230000,2.70,171.280000,167.16,15.18,54.880000,64.06,31.83,0,0.01,41.910000,61.24,417,0.0,0.0,63.0,0.0,254687.0,478.77,0.0,No Offer,Yes,0.0,Yes,Yes,No,Not Applicable,56,No,Yes,Yes,No,Yes,Yes,Yes,No,Credit Card,cullucfodcpbc24549,3,417.0,0
112,dnnrchjlmrylq24,14,9,91423,Female,48.000000,Yes,Yes,0.0,vxainqiqplai24,liroqcvpdnrzdyolqw24,CA,Los Angeles County,America/Los_Angeles,2.13E+17,US,34.14,-118.42,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0,0.00,0.000000,0.00,149.180000,2769.19,207.23,33.720000,331.07,3.33,0,0.06,0.090000,2.56,0,0.0,0.0,0.0,0.0,254687.0,143.68,0.0,G,Yes,6.0,No,Yes,No,Not Applicable,51,No,Yes,Yes,No,No,Yes,Yes,No,Bank Withdrawal,qflywarsexbpg13676,4,0.0,0
145,pltaycxycbhvo31,11,7,95126,Other,35.000000,No,No,0.0,sjmjgqjvhvth31,xbmtjtsvypinczxnhf31,CA,Santa Clara County,America/Los_Angeles,408,US,37.32,-121.91,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0,0.00,0.000000,0.00,3210.570000,525.28,136.57,19.790000,1.21,202.92,0,0.05,61.380000,52.97,0,0.0,0.0,0.0,0.0,254687.0,95.40,0.0,J,Yes,10.0,No,No,No,Cable,56,No,Yes,No,No,No,Yes,Yes,No,Bank Withdrawal,xayhhjriwxte83055,3,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653317,tphemcbndfpem162885,5,5,91604,Female,23.000000,Yes,Yes,9.0,psxavglkqzny162885,lepgdnuzszymxfxefi162885,CA,Los Angeles County,America/Los_Angeles,213,US,34.13,-118.39,1555.64,148.54,286.060000,2640.98,11.450000,15.25,177.76,80.32,182.42,0,36.39,29.010000,12.66,149.150000,254.42,34.55,70.130000,866.24,21.63,0,0.02,8.530000,13.05,6036,0.0,0.0,0.0,0.0,254687.0,576.68,63.0,No Offer,Yes,7.0,Yes,No,No,None,8,No,No,No,No,Yes,No,No,No,Wallet Balance,unsgjstmbbczmsf47552,3,6036.0,0
653369,umbrcxomoexlc162896,8,5,94939,Female,55.000000,Yes,Not Specified,0.0,uuqthlwgdxrn162896,njhcqhdfkoqrazlxxo162896,CA,Marin County,America/Los_Angeles,415,US,37.93,-122.53,75.85,144.05,271.200000,30.16,10.500000,242.12,349.01,1073.75,1.19,0,30.40,24.610000,2.62,106.590000,145.29,86.85,83.010000,29.74,23.25,0,0.06,61.500000,54.30,1518,0.0,0.0,0.0,0.0,254687.0,5007.56,0.0,No Offer,Yes,8.0,Yes,Yes,No,Not Applicable,23,No,No,Yes,No,Yes,Yes,Yes,No,Credit Card,mospmxtxyzdy97920,1,1518.0,0
653423,dkjfuyorfdngv162907,13,11,87553,Male,23.000000,Yes,Yes,2.0,huiasasztqyw162907,dscivazeqkwgxzggqx162907,NM,Taos County,America/Denver,505575,US,36.17,-105.69,27.80,81.79,156.780000,22.08,1.970000,16.43,121.46,424.02,0.87,0,19.42,73.170000,10.20,164.160000,55.41,16.81,97.510000,73.50,22.02,0,0.10,74.750000,870.14,229,0.0,0.0,0.0,0.0,254687.0,585.54,0.0,D,Yes,9.0,Yes,No,No,Not Applicable,4,No,No,No,No,Yes,No,No,No,Bank Withdrawal,rgvqptvqmqule47777,2,229.0,1
653536,jqvmittclvgqd162934,11,7,98907,Not Specified,40.000000,Yes,No,0.0,uviytafwcahi162934,whncxdyflgkmlzguym162934,WA,Yakima County,America/Los_Angeles,509,US,46.59,-120.52,25.65,143.85,318.780000,416.37,12.540000,13.25,317.96,182.93,10.41,0,11.00,31.100000,14.43,170.040000,38.57,80.97,59.360000,7.93,12.83,0,0.03,67.120000,13.64,244,0.0,0.0,0.0,0.0,254687.0,373.84,0.0,No Offer,No,0.0,Yes,Yes,No,Not Applicable,14,No,Yes,Yes,No,Yes,No,No,No,Bank Withdrawal,qpzsyhumyefn64654,4,244.0,0
653580,lvinoatdykyvc162940,7,6,98132,Male,27.000000,Not Specified,Not Specified,0.0,mkumlrxlywbx162940,mumzhcmhaezoytzzxz162940,WA,King County,America/Los_Angeles,206,US,47.46,-122.29,721.64,108.51,1962.248080,3763.21,76.939405,277.63,321.61,3679.66,63.09,0,4.62,223.846205,339.71,1315.196499,2396.71,180.15,609.596025,371.14,72.47,0,0.03,456.532947,207.00,619,0.0,0.0,87978.0,0.0,254687.0,-1375.56,0.0,No Offer,No,3.0,Yes,No,No,Fiber Optic,52,No,Yes,No,Yes,Yes,Yes,Yes,No,Wallet Balance,npxyweakifbwm3141,5,619.0,0

Let's see what is the value of 'total_rech_data' for these observations.

In [43]:
# Get the value counts of 'total_rech_data' for observations where the value in the 'arpu_4g' column is equal to 254687
df[df['arpu_4g']==254687]['total_rech_data'].value_counts()

0.0    12847
Name: total_rech_data, dtype: int64

Now, since the recharge amount is 0 and there is no ARPU, let's replace it with 0.

In [44]:
# Replace the outlier value 254687 in the 'arpu_4g' column of the dataframe 'df' with 0.
df['arpu_4g']=df['arpu_4g'].replace(254687,0)

In [45]:
# Checking further
df['arpu_4g'].quantile([0.75,0.8,0.9,0.95,0.97,0.99,0.999])

0.750      120.570000
0.800      504.112000
0.900     1893.758000
0.950     2493.880000
0.970     8675.470757
0.990     8839.721689
0.999    87978.000000
Name: arpu_4g, dtype: float64

In [46]:
# Filter by 'arpu_4g' value of 87978 and count unique values in 'total_rech_data' column
df[df['arpu_4g']==87978]['total_rech_data'].value_counts()

0.0    5007
Name: total_rech_data, dtype: int64

All rows in the dataframe with an 'arpu_4g' value of 87978 have 0 value in the 'total_rech_data' column, indicating that these are likely outliers. Therefore, we have decided to replace the 'arpu_4g' value for these rows with 0.

In [47]:
# Replace the values with 0
df['arpu_4g']=df['arpu_4g'].replace(87978,0)

In [48]:
# Checking the quantiles again
df['arpu_4g'].quantile([0.75,0.8,0.9,0.95,0.97,0.99,0.999])

0.750     107.760000
0.800     432.246000
0.900    1803.560000
0.950    2424.072000
0.970    2735.554400
0.990    8705.097343
0.999    8839.721689
Name: arpu_4g, dtype: float64

In [49]:
# Check the churn value for this ARPU
df[df['arpu_4g']>8000]['Churn Value'].value_counts()

0    16157
1      980
Name: Churn Value, dtype: int64

**Observation:**

 * A higher ARPU suggests that a business is generating more revenue per user, which can be a positive sign for the business's profitability. However, a high ARPU can also imply churn, or the rate at which customers are leaving the business.

* There are a few reasons why a high ARPU may imply churn. First, if a business is charging a high price for its services, it may attract a customer base that is more price-sensitive and likely to switch to a competitor if they find a better deal. This could result in a higher churn rate for the business.

In [50]:
# Check the value counts of total recharge data at outlying values
df[df['arpu_5g']==254687]['total_rech_data'].value_counts()

0.0    12614
Name: total_rech_data, dtype: int64

In [51]:
# Check the value counts of total recharge data at outlying values
df[df['arpu_5g']==87978]['total_rech_data'].value_counts()

0.0    5130
Name: total_rech_data, dtype: int64

In [52]:
# Replacing the values with 0 where total recharge data is 0
df['arpu_5g']=df['arpu_5g'].replace([87978,254687],0)

In [53]:
# Check the quantiles of ARPU 5G
df['arpu_5g'].quantile([0.75,0.8,0.9,0.95,0.97,0.99,0.999])

0.750      96.490000
0.800     417.102000
0.900    1797.618000
0.950    2543.904000
0.970    2792.060000
0.990    8587.153966
0.999    8724.440600
Name: arpu_5g, dtype: float64

In [54]:
# Check the quantiles of Volume of 5G data
df['vol_5g'].quantile([0.75,0.8,0.9,0.95,0.97,0.98,0.99,0.999])

0.750       964.7200
0.800      3814.2220
0.900     12369.5160
0.950     17358.4180
0.970     19569.9704
0.980     87978.0000
0.990    254687.0000
0.999    254687.0000
Name: vol_5g, dtype: float64

In [55]:
# Lets see the recharge data value
df[df['vol_5g']>=87978]['total_rech_data'].value_counts()

0.0    18072
Name: total_rech_data, dtype: int64

In [56]:
# Proportion of these values
df[df['vol_5g']>=87978]['total_rech_data'].value_counts()/df.shape[0]

0.0    0.027643
Name: total_rech_data, dtype: float64

**Observation**:

There is a presence of 2% outliers in vol 5g, where the values are very high, but their total recharge data is 0. We will fill these outliers with 0, and below are some possible reasons why this could be:

* Data recording error: It is possible that there was an error in recording the recharge data for these outliers, leading to an incorrect value of 0. In this case, it would make sense to fill the outliers with 0, as this is likely the correct value.

* Promotions or bonuses: Another possibility is that these customers received promotions or bonuses that allowed them to use the service without recharging, leading to a total recharge data of 0. However, these customers may still be using the service heavily, leading to the high values in vol 5g. In this case, filling the outliers with 0 would make sense as it accurately reflects the lack of recharge data.

In [57]:
# Replace the outlier values
df['vol_5g']=df['vol_5g'].replace([87978,254687],0)

In [58]:
# Unique months
df['Month'].unique()

array([ 1,  6,  7,  8,  9, 10, 11, 12, 13, 14,  2,  3,  4,  5],
      dtype=int64)

In [59]:
# Unique months of joining
df['Month of Joining'].unique()

array([ 1,  6, 11,  9,  8,  7, 10,  2, 12,  3,  5,  4], dtype=int64)

We will get 4 quarters in month of joining!

In [60]:
# # Save Processed data
# df.to_csv('../data/processed/processed_churn_data.csv',index=False)

In [61]:
import math

# Define a function to map a month to its corresponding quarter
def map_month_to_quarter(month):
    if math.isnan(month): # Handle NaN values if present
        return None
    quarter = math.ceil(month / 3)
    return quarter

# Insert a new column called 'Quarter of Joining' in the DataFrame 'df' and populate it with the quarter corresponding to the 'Month of Joining' column
df.insert(loc=1,column='Quarter of Joining',value=df['Month of Joining'].apply(lambda x: map_month_to_quarter(x)))

# Insert a new column called 'Quarter' in the DataFrame 'df'and populate it with the quarter corresponding to the 'Month' column
df.insert(loc=1,column='Quarter',value= df['Month'].apply(lambda x: map_month_to_quarter(x)))

In [62]:
# Remove duplicate rows in the DataFrame 'df' based on the 'Customer ID', 'Quarter', and 'Quarter of Joining' columns and keep only the last occurrence of each set of duplicates
telco=df.drop_duplicates(subset=['Customer ID','Quarter','Quarter of Joining'],keep='last')

In [63]:
# Filter 1 and 2 quarter wise data
train_data=telco[(telco['Quarter of Joining']==1)&(telco['Quarter']==1)]
test_data=telco[(telco['Quarter of Joining']==1)&(telco['Quarter']==2)]
prediction_data=telco[(telco['Quarter of Joining']==2)&(telco['Quarter']==2)]
save_point("fcTel2")
#note that we have not used alot of data which we will use for feedback loop

### **Data Preprocessing and Leakage**

In [64]:
telco[['Quarter','Quarter of Joining']].value_counts()

Quarter  Quarter of Joining
3        3                     30910
4        3                     29119
5        3                     26093
2        2                     25632
1        1                     24322
3        2                     23528
4        2                     21489
5        2                     19212
4        4                     17366
2        1                     16716
5        4                     16054
3        1                     13733
4        1                     12308
5        1                     10952
dtype: int64

In [65]:
train_data.shape,test_data.shape

((24322, 72), (16716, 72))

In [66]:
train_data['Churn Value'].value_counts(normalize=True)

0    0.687279
1    0.312721
Name: Churn Value, dtype: float64

In [67]:
train_data.columns

Index(['Customer ID', 'Quarter', 'Quarter of Joining', 'Month',
       'Month of Joining', 'zip_code', 'Gender', 'Age', 'Married',
       'Dependents', 'Number of Dependents', 'Location ID', 'Service ID',
       'state', 'county', 'timezone', 'area_codes', 'country', 'latitude',
       'longitude', 'roam_ic', 'roam_og', 'loc_og_t2t', 'loc_og_t2m',
       'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m', 'std_og_t2f',
       'std_og_t2c', 'isd_og', 'spl_og', 'og_others', 'loc_ic_t2t',
       'loc_ic_t2m', 'loc_ic_t2f', 'std_ic_t2t', 'std_ic_t2m', 'std_ic_t2f',
       'std_ic_t2o', 'spl_ic', 'isd_ic', 'ic_others', 'total_rech_amt',
       'total_rech_data', 'vol_4g', 'vol_5g', 'arpu_5g', 'arpu_4g', 'arpu',
       'aug_vbc_5g', 'offer', 'Referred a Friend', 'Number of Referrals',
       'Phone Service', 'Multiple Lines', 'Internet Service', 'Internet Type',
       'Streaming Data Consumption', 'Online Security', 'Online Backup',
       'Device Protection Plan', 'Premium Tech Support', 'Streaming TV',
       'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Payment Method', 'Status ID', 'Satisfaction Score', 'total_recharge',
       'Churn Value'],
      dtype='object')

In [68]:
drop_cols=['Customer ID', 'Quarter', 'Quarter of Joining', 'Month',
       'Month of Joining', 'zip_code','Location ID', 'Service ID',
       'state', 'county', 'timezone', 'area_codes', 'country', 'latitude',
       'longitude','Status ID']

train_data=train_data.drop(columns=drop_cols)
test_data=test_data.drop(columns=drop_cols)

In [70]:
train_data.columns

Index(['Gender', 'Age', 'Married', 'Dependents', 'Number of Dependents',
       'roam_ic', 'roam_og', 'loc_og_t2t', 'loc_og_t2m', 'loc_og_t2f',
       'loc_og_t2c', 'std_og_t2t', 'std_og_t2m', 'std_og_t2f', 'std_og_t2c',
       'isd_og', 'spl_og', 'og_others', 'loc_ic_t2t', 'loc_ic_t2m',
       'loc_ic_t2f', 'std_ic_t2t', 'std_ic_t2m', 'std_ic_t2f', 'std_ic_t2o',
       'spl_ic', 'isd_ic', 'ic_others', 'total_rech_amt', 'total_rech_data',
       'vol_4g', 'vol_5g', 'arpu_5g', 'arpu_4g', 'arpu', 'aug_vbc_5g', 'offer',
       'Referred a Friend', 'Number of Referrals', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Internet Type',
       'Streaming Data Consumption', 'Online Security', 'Online Backup',
       'Device Protection Plan', 'Premium Tech Support', 'Streaming TV',
       'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Payment Method', 'Satisfaction Score', 'total_recharge',
       'Churn Value'],
      dtype='object')

In [71]:
X_train=train_data[train_data.columns[:-1]]
y_train=train_data[train_data.columns[-1]]

In [72]:
X_test=test_data[test_data.columns[:-1]]
y_test=test_data[test_data.columns[-1]]

In [73]:
y_train.mean(),y_test.mean()

(0.31272099333936354, 0.1784517827231395)

In [76]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from pickle import dump

In [77]:
encoder = OneHotEncoder(sparse=False)
encoder.fit(X_train[categorical_cols])
encoded_features = list(encoder.get_feature_names_out(categorical_cols))

X_train[encoded_features] = encoder.transform(X_train[categorical_cols])
X_test[encoded_features] = encoder.transform(X_test[categorical_cols])

In [78]:
X_train.shape

(24322, 110)

In [79]:
# drop original features
X_train=X_train.drop(categorical_cols,axis=1)
X_test=X_test.drop(categorical_cols,axis=1)

In [80]:
X_train.shape

(24322, 92)

In [81]:
scaler = StandardScaler()


X_train[cts_cols]  = scaler.fit_transform(X_train[cts_cols]) 

X_test[cts_cols]  = scaler.transform(X_test[cts_cols])
preserve("fcTel2")

## **Model Training**

In [82]:
from sklearn.metrics import f1_score, recall_score, confusion_matrix, roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV

In [83]:
# function modelling
#Columns needed to compare metrics
comparison_columns = ['Model_Name', 'Train_F1score', 'Train_Recall', 'Test_F1score', 'Test_Recall']

comparison_df = pd.DataFrame()

def evaluate_models(model_name, model_defined_var, X_train, y_train, X_test, y_test):
  ''' This function predicts and evaluates various models for clasification'''
  
  # train predictions
  y_train_pred = model_defined_var.predict(X_train)
  # train performance
  train_f1_score = f1_score(y_train,y_train_pred)
  train_recall = recall_score(y_train, y_train_pred)

  # test predictions
  y_pred = model_defined_var.predict(X_test)
  # test performance
  test_f1_score = f1_score(y_test,y_pred)
  test_recall = recall_score(y_test, y_pred)

  # Printing performance
  print("Train Results")
  print(f'F1 Score: {train_f1_score}')
  print(f'Recall Score: {train_recall}')
  print(f'Confusion Matrix: \n{confusion_matrix(y_train, y_train_pred)}')
  print(f'Area Under Curve: {roc_auc_score(y_train, y_train_pred)}')

  print(" ")

  print("Test Results")
  print(f'F1 Score: {test_f1_score}')
  print(f'Recall Score: {test_recall}')
  print(f'Confusion Matrix: \n{confusion_matrix(y_test, y_pred)}')
  print(f'Area Under Curve: {roc_auc_score(y_test, y_pred)}')

  
  #Saving our results
  global comparison_columns

  metric_scores = [model_name, train_f1_score, train_recall, test_f1_score, test_recall]
  final_dict = dict(zip(comparison_columns,metric_scores))

  return final_dict


#function to create the comparison table
final_list = []
def add_dic_to_final_df(final_dict):
  global final_list
  final_list.append(final_dict)
  global comparison_df
  comparison_df = pd.DataFrame(final_list, columns= comparison_columns)

In [84]:
# Churn in training data
y_train.value_counts(normalize=True)

0    0.687279
1    0.312721
Name: Churn Value, dtype: float64

In [85]:
# Churn in test data
y_test.value_counts(normalize=True)

0    0.821548
1    0.178452
Name: Churn Value, dtype: float64

In [86]:
# Let's calculate the churn rate for data and store it as dict
w=y_train.value_counts(normalize=True).to_dict()

In [87]:
# Weights
w

{0: 0.6872790066606365, 1: 0.31272099333936354}

In [88]:
# Define model
lg2 = LogisticRegression(random_state=13, class_weight=w)
# fit it
lg2.fit(X_train,y_train)

model_snapshot("fcTel2")

In [89]:
# Evaluate models
logistic_results = evaluate_models("Logistic Regression", lg2, X_train, y_train, X_test, y_test)
add_dic_to_final_df(logistic_results)

Train Results
F1 Score: 0.6114806602611481
Recall Score: 0.4894819879042861
Confusion Matrix:
[[15868   848]
 [ 3883  3723]]
Area Under Curve: 0.7193760741148614

Test Results
F1 Score: 0.3334847796456156
Recall Score: 0.24606101240362052
Confusion Matrix:
[[13048   685]
 [ 2249   734]]
Area Under Curve: 0.5980905804754577

In [90]:
# define model
random_f = RandomForestClassifier(n_estimators=20, class_weight=w, random_state=7)
random_f.fit(X_train, y_train)

randomf_results = evaluate_models("Random Forest", random_f, X_train, y_train, X_test, y_test)
add_dic_to_final_df(randomf_results)

Train Results
F1 Score: 0.9951193773908454
Recall Score: 0.9918485406258217
Confusion Matrix:
[[16704    12]
 [   62  7544]]
Area Under Curve: 0.9955653327680437

Test Results
F1 Score: 0.4307692307692308
Recall Score: 0.3754609453570231
Confusion Matrix:
[[12636  1097]
 [ 1863  1120]]
Area Under Curve: 0.647790182865652

### **XG Boost Training**

In [92]:
import xgboost as xgb

# Convert training and test sets to DMatrix
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

# Train initial model
params = {'objective': 'multi:softmax', 'num_class': 2}
num_rounds = 30
xgbmodel = xgb.train(params, dtrain, num_rounds)
model_snapshot("fcTel2")


xgb_results = evaluate_models("XGB", xgbmodel, dtrain, y_train, dtest, y_test)
add_dic_to_final_df(xgb_results)

Train Results
F1 Score: 0.8251796572692096
Recall Score: 0.785038127793847
Confusion Matrix:
[[15821   895]
 [ 1635  5971]]
Area Under Curve: 0.8657483053422453

Test Results
F1 Score: 0.49294162533384206
Recall Score: 0.43312101910828027
Confusion Matrix:
[[12766   967]
 [ 1691  1292]]
Area Under Curve: 0.6813533443316832

In [93]:
comparison_df

            Model_Name  Train_F1score  Train_Recall  Test_F1score  Test_Recall
0  Logistic Regression       0.611481      0.489482      0.333485     0.246061
1        Random Forest       0.995119      0.991849      0.430769     0.375461
2                  XGB       0.825180      0.785038      0.492942     0.433121
3                  XGB       0.825180      0.785038      0.492942     0.433121

In [95]:

import traceback

from deepchecks.tabular import Dataset
from deepchecks.tabular import Suite
from deepchecks.tabular.checks import WholeDatasetDrift, DataDuplicates, NewLabelTrainTest, TrainTestFeatureDrift, TrainTestLabelDrift
from deepchecks.tabular.checks import FeatureLabelCorrelation, FeatureLabelCorrelationChange, ConflictingLabels, OutlierSampleDetection 
from deepchecks.tabular.checks import WeakSegmentsPerformance, RocReport, ConfusionMatrixReport, TrainTestPredictionDrift, CalibrationScore, BoostingOverfit

deepchecks - WARNING - You are using deepchecks version 0.12.0, however a newer version is available.Deepchecks is frequently updated with major improvements. You should consider upgrading via the "python -m pip install --upgrade deepchecks" command.

In [96]:
# Define categorical and continuous columns
pred_cat_cols=[
       'Gender_Female', 'Gender_Male', 'Gender_Not Specified', 'Gender_Other',
       'Married_No', 'Married_Not Specified', 'Married_Yes', 'Dependents_No',
       'Dependents_Not Specified', 'Dependents_Yes', 'offer_A', 'offer_B',
       'offer_C', 'offer_D', 'offer_E', 'offer_F', 'offer_G', 'offer_H',
       'offer_I', 'offer_J', 'offer_No Offer', 'Referred a Friend_No',
       'Referred a Friend_Yes', 'Phone Service_No', 'Phone Service_Yes',
       'Multiple Lines_No', 'Multiple Lines_None', 'Multiple Lines_Yes',
       'Internet Service_No', 'Internet Service_Yes', 'Internet Type_Cable',
       'Internet Type_DSL', 'Internet Type_Fiber Optic', 'Internet Type_None',
       'Internet Type_Not Applicable', 'Online Security_No',
       'Online Security_Yes', 'Online Backup_No', 'Online Backup_Yes',
       'Device Protection Plan_No', 'Device Protection Plan_Yes',
       'Premium Tech Support_No', 'Premium Tech Support_Yes',
       'Streaming TV_No', 'Streaming TV_Yes', 'Streaming Movies_No',
       'Streaming Movies_Yes', 'Streaming Music_No', 'Streaming Music_Yes',
       'Unlimited Data_No', 'Unlimited Data_None', 'Unlimited Data_Yes',
       'Payment Method_Bank Withdrawal', 'Payment Method_Credit Card',
       'Payment Method_Wallet Balance']

pred_cts_cols=['Age', 'Number of Dependents', 'roam_ic', 'roam_og', 'loc_og_t2t',
       'loc_og_t2m', 'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m',
       'std_og_t2f', 'std_og_t2c', 'isd_og', 'spl_og', 'og_others',
       'loc_ic_t2t', 'loc_ic_t2m', 'loc_ic_t2f', 'std_ic_t2t', 'std_ic_t2m',
       'std_ic_t2f', 'std_ic_t2o', 'spl_ic', 'isd_ic', 'ic_others',
       'total_rech_amt', 'total_rech_data', 'vol_4g', 'vol_5g', 'arpu_5g',
       'arpu_4g', 'arpu', 'aug_vbc_5g', 'Number of Referrals',
       'Streaming Data Consumption', 'Satisfaction Score', 'total_recharge']

In [98]:
def check_data_drift(ref_df:pd.DataFrame, cur_df:pd.DataFrame, predictors:list, job_id:str):
    """
    Check for data drifts between two datasets and decide whether to retrain the model. 
    A report will be saved in the results directory.
    :param ref_df: Reference dataset
    :param cur_df: Current dataset
    :param predictors: Predictors to check for drifts
    :param target: Target variable to check for drifts
    :param job_id: Job ID
    :return: boolean
    """
    ref_features = [col for col in predictors if col in ref_df.columns]
    cur_features = [col for col in predictors if col in cur_df.columns]
    ref_cat_features = [col for col in pred_cat_cols if col in ref_df.columns]
    cur_cat_features = [col for col in pred_cat_cols if col in cur_df.columns]
    ref_dataset = Dataset(ref_df,  features=ref_features, cat_features=ref_cat_features)
    cur_dataset = Dataset(cur_df, features=cur_features, cat_features=cur_cat_features)
    
    suite = Suite("data drift",
        WholeDatasetDrift().add_condition_overall_drift_value_less_than(0.2), #0.2 
        TrainTestFeatureDrift().add_condition_drift_score_less_than(0.2), #0.1   
        )
    r = suite.run(train_dataset=ref_dataset, test_dataset=cur_dataset)
    retrain = (len(r.get_not_ran_checks())>0) or (len(r.get_not_passed_checks())>0)
    
   
    return {"report": r, "retrain": retrain}

In [99]:
def preprocess_steps(data):
    df=data.copy()
    drop_cols=['Customer ID', 'Quarter', 'Quarter of Joining', 'Month',
       'Month of Joining', 'zip_code','Location ID', 'Service ID',
       'state', 'county', 'timezone', 'area_codes', 'country', 'latitude',
       'longitude','Status ID']
    df=df.drop(columns=drop_cols)
    processed_data=df.copy()
    processed_data[encoded_features] = encoder.transform(processed_data[categorical_cols])
    processed_data=processed_data.drop(categorical_cols,axis=1)
    processed_data[cts_cols]  = scaler.transform(processed_data[cts_cols]) 

    return processed_data

In [100]:
# Creating a copy of train for reference
ref_check_data=X_train.copy()

In [101]:
def inference_pipeline(inference_data,reference_data,job_id,predictors_cols):
    #write data cleaning steps if necessary

    #data preprocessing
    clean_inf_data=preprocess_steps(inference_data)

    #data drift
    data_drift=check_data_drift(ref_df=reference_data, cur_df=clean_inf_data, predictors=predictors_cols,  job_id=job_id)
    print(f"Data Drift Retrain: {data_drift['retrain']}")

    return data_drift

In [102]:
model_snapshot("fcTel2")
d1_drift=inference_pipeline(inference_data=prediction_data[prediction_data.columns[:-1]],reference_data=ref_check_data,job_id='1cbhja2',predictors_cols=pred_cat_cols+pred_cts_cols)

Data Drift Retrain: False

No data drift!

In [103]:
# Taking prediction data for testing
pred_processed_data=preprocess_steps(prediction_data[prediction_data.columns[:-1]])
d_pred_processed_data = xgb.DMatrix(pred_processed_data)
predictions = xgbmodel.predict(d_pred_processed_data)

Lets compare predictions and actual values

In [104]:
pred_label=prediction_data['Churn Value']

In [105]:
print(f'Confusion Matrix: \n{confusion_matrix(pred_label, predictions)}')
print(f'Area Under Curve: {roc_auc_score(pred_label, predictions)}')

Confusion Matrix:
[[21449  2079]
 [  618  1486]]
Area Under Curve: 0.8089554812452245

Let's create a function to check data drift when label is available!

In [108]:
def check_data_drift_with_label(ref_df:pd.DataFrame, cur_df:pd.DataFrame, target:str, predictors:list, job_id:str):
    """
    Check for data drifts between two datasets and decide whether to retrain the model. 
    A report will be saved in the results directory.
    :param ref_df: Reference dataset
    :param cur_df: Current dataset
    :param predictors: Predictors to check for drifts
    :param target: Target variable to check for drifts
    :param job_id: Job ID
    :return: boolean
    """
    ref_features = [col for col in predictors if col in ref_df.columns]
    cur_features = [col for col in predictors if col in cur_df.columns]
    ref_cat_features = [col for col in pred_cat_cols if col in ref_df.columns]
    cur_cat_features = [col for col in pred_cat_cols if col in cur_df.columns]
    ref_dataset = Dataset(ref_df, label=target, features=ref_features, cat_features=ref_cat_features)
    cur_dataset = Dataset(cur_df, label=target,features=cur_features, cat_features=cur_cat_features)
    
    suite = Suite("data drift",
        NewLabelTrainTest(),
        WholeDatasetDrift().add_condition_overall_drift_value_less_than(0.2), 
        FeatureLabelCorrelationChange().add_condition_feature_pps_difference_less_than(0.2), 
        TrainTestFeatureDrift().add_condition_drift_score_less_than(0.2), 
        TrainTestLabelDrift(balance_classes=True).add_condition_drift_score_less_than(0.4) 
    )
    r = suite.run(train_dataset=ref_dataset, test_dataset=cur_dataset)
    retrain = (len(r.get_not_ran_checks())>0) or (len(r.get_not_passed_checks())>0)
    
    
    return {"report": r, "retrain": retrain}

def check_model_drift(model,pred_data,label):
    dmatrix = xgb.DMatrix(pred_data)
    label_pred=model.predict(dmatrix)
    test_f1_score = f1_score(label,label_pred)
    test_recall = recall_score(label, label_pred)

    print("\n Test Results")
    print(f'F1 Score: {test_f1_score}')
    print(f'Recall Score: {test_recall}')
    print(f'Confusion Matrix: \n{confusion_matrix(label, label_pred)}')
    print(f'Area Under Curve: {roc_auc_score(label, label_pred)}')

    #condition for model retraining according to business
    model_retrain= (test_recall<0.80) or (test_f1_score<0.35)
    print(f"\n Model Drift Retrain: {model_retrain}")
    return model_retrain,label_pred

In [109]:
def inference_pipeline_with_label(inference_data,reference_data,job_id,trained_model,target_col_name,target_value,predictors_cols):
    
    clean_inf_data=preprocess_steps(inference_data)
    clean_inf_data[target_col_name]=target_value

    data_drift=check_data_drift_with_label(ref_df=reference_data, cur_df=clean_inf_data, predictors=predictors_cols, target=target_col_name, job_id=job_id)
    print(f"Data Drift Retrain: {data_drift['retrain']}")

    model_retrain,predictions=check_model_drift(model=trained_model,pred_data=clean_inf_data.drop(columns=target_col_name),label=target_value)

    return  data_drift,model_retrain,predictions

In [110]:
# actual values
label_check_data=X_train.copy()
label_check_data['Churn Value']=y_train

In [111]:
# Report of data drift with label
d2_drift,model_retrain,pred=inference_pipeline_with_label(inference_data=prediction_data[prediction_data.columns[:-1]],reference_data=label_check_data,job_id='1njkwna',trained_model=xgbmodel,predictors_cols=pred_cat_cols+pred_cts_cols,target_col_name='Churn Value',target_value=prediction_data['Churn Value'])

Data Drift Retrain: False

 Test Results
F1 Score: 0.5242547186452636
Recall Score: 0.7062737642585551
Confusion Matrix:
[[21449  2079]
 [  618  1486]]
Area Under Curve: 0.8089554812452245

 Model Drift Retrain: True

Here we would have to retrain the model!

In [112]:
params = {'objective': 'multi:softmax', 'num_class': 2}
retrain_rounds=100

if d2_drift['retrain']:
    clean_prediction_data=preprocess_steps(prediction_data[prediction_data.columns[:-1]])
    drift_train=pd.concat([X_train,clean_prediction_data],ignore_index=True)
    drift_label=pd.concat([y_train,prediction_data['Churn Value']],ignore_index=True)

    xgbmodel = xgb.train(params, xgb.DMatrix(drift_train, label=drift_label), num_boost_round=num_rounds)


elif model_retrain:
    misclassified = prediction_data['Churn Value'] != pred
    feedback_X = prediction_data[misclassified][prediction_data.columns[:-1]]
    feedback_y = prediction_data[misclassified]['Churn Value']
    
    feedback_processed = preprocess_steps(feedback_X)

    X_train_all = pd.concat([X_train, feedback_processed], ignore_index=True)
    y_train_all = pd.concat([y_train, feedback_y], ignore_index=True)
    
    xgb_retrained = xgb.train(params, xgb.DMatrix(X_train_all, label=y_train_all), 
                         xgb_model=xgbmodel, num_boost_round=retrain_rounds)

save_point("fcTel2")

In [113]:
# Check after retraining
d3_drift,model2_retrain,pred2=inference_pipeline_with_label(inference_data=prediction_data[prediction_data.columns[:-1]],reference_data=label_check_data,job_id='6378njkwna',trained_model=xgb_retrained,predictors_cols=pred_cat_cols+pred_cts_cols,target_col_name='Churn Value',target_value=prediction_data['Churn Value'])

Data Drift Retrain: False

 Test Results
F1 Score: 0.693576388888889
Recall Score: 0.7595057034220533
Confusion Matrix:
[[22622   906]
 [  506  1598]]
Area Under Curve: 0.8604991964917136

 Model Drift Retrain: True

Better result!

In [ ]:
# Save the model
# xgb_retrained.save_model('../models/xgb_retrained.model')